<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="939fd1">  <td>19/02/16 12:27:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLead()[pri:0, instance:bl.framework.testcases.TC001_CreateLead@544fe44c]">createLead</td> 
  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/02/16 12:27:36</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.openBrowser()[pri:0, instance:bl.framework.testcases.TC001_CreateLead@544fe44c]">openBrowser</td> 
  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/02/16 12:27:45</td>   <td>8515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.pass()[pri:0, instance:bl.framework.testcases.TC001_CreateLead@544fe44c]">pass</td> 
  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/02/16 12:27:47</td>   <td>10684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.username()[pri:0, instance:bl.framework.testcases.TC001_CreateLead@544fe44c]">username</td> 
  <td>main@841283083</td>   <td></td> </tr>
</table>
